#   Sourcing Open Data - Task 6.1:  Gun Violence in US

1. [Import Librairies](#lib)

2. [Checking the Dataframe](#check)

3. [Dataframe Statistics and Cleaning](#clean)

4. [Exporting and Saving Data](#save)

<div id = "lib"></div>

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Creating a path
path = r'C:\Users\rpa21\Gun Violence Analysis'

In [5]:
# Importing Data from gun violence.csv using path
df_gun_vi = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'gun-violence-data_01-2013_03-2018.csv'), index_col = False)

<div id = "check"></div>

Checking the Dataframe

In [9]:
df_gun_vi.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [11]:
# checking the shape of the dataframe

(239677, 29)

In [12]:
#checking the columns and data types of the dataframe
df_gun_vi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   incident_id                  239677 non-null  int64
 1   date                         239677 non-null  object
 2   state                        239677 non-null  object
 3   city_or_county               239677 non-null  object
 4   address                      223180 non-null  object
 5   n_killed                     239677 non-null  int64
 6   n_injured                    239677 non-null  int64
 7   incident_url                 239677 non-null  object
 8   source_url                   239209 non-null  object
 9   incident_url_fields_missing  239677 non-null  bool
 10  congressional_district       227733 non-null  float64
 11  gun_stolen                   140179 non-null  object
 12  gun_type                     140226 non-null  object
 13  incident_characteristics     239351 non-null  object
 14  latitude                     231754 non-null  float64
 15  location_description         42089 non-null   object
 16  longitude                    231754 non-null  float64
 17  n_guns_involved              140226 non-null  float64
 18  notes                        158660 non-null  object
 19  participant_age              147379 non-null  object
 20  participant_age_group        197558 non-null  object
 21  participant_gender           203315 non-null  object
 22  participant_name             117424 non-null  object
 23  participant_relationship     15774 non-null   object
 24  participant_status           212051 non-null  object
 25  participant_type             214814 non-null  object
 26  sources                      239068 non-null  object
 27  state_house_district         200905 non-null  float64
 28  state_senate_district        207342 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

<div id = "clean"></div>

Dataframe Statistics and Cleaning

In [13]:
# Descriptive Statistics
df_gun_vi.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [14]:
# Check for duplicates in the dataframe
df_dups = df_gun_vi[df_gun_vi.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, address, n_killed, n_injured, incident_url, source_url, incident_url_fields_missing, congressional_district, gun_stolen, gun_type, incident_characteristics, latitude, location_description, longitude, n_guns_involved, notes, participant_age, participant_age_group, participant_gender, participant_name, participant_relationship, participant_status, participant_type, sources, state_house_district, state_senate_district]
Index: []

[0 rows x 29 columns]

There are no duplicates in the dataframe.

In [16]:
# Checking for mixed data types
for col in df_gun_vi.columns.tolist():
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_gun_vi[weird]) > 0:
    print (col)

C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)

address
source_url
gun_stolen

C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)

gun_type
incident_characteristics
location_description
notes

C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)

participant_age
participant_age_group
participant_gender
participant_name
participant_relationship
participant_status

C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)

participant_type
sources

C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\rpa21\AppData\Local\Temp\ipykernel_14012\4283232524.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_gun_vi[[col]].applymap(type) != df_gun_vi[[col]].iloc[0].apply(type)).any(axis = 1)

In [33]:
# Changing mixed data types to string

In [21]:
df_gun_vi['incident_characteristics'] = df_gun_vi['incident_characteristics'].astype('str')

In [22]:
df_gun_vi['participant_age_group'] =df_gun_vi ['participant_age_group'].astype('str')

In [23]:
df_gun_vi['participant_gender'] = df_gun_vi['participant_gender'].astype('str')

In [24]:
df_gun_vi['participant_status'] = df_gun_vi['participant_status'].astype('str')

In [25]:
df_gun_vi['participant_type'] = df_gun_vi['participant_type'].astype('str')

In [26]:
df_gun_vi['sources'] = df_gun_vi['sources'].astype('str')

In [27]:
df_gun_vi['participant_relationship'] = df_gun_vi['participant_relationship'].astype('str')

In [28]:
df_gun_vi['gun_stolen'] = df_gun_vi['gun_stolen'].astype('str')

In [29]:
df_gun_vi['gun_type'] = df_gun_vi['gun_type'].astype('str')

In [30]:
df_gun_vi['notes'] = df_gun_vi['notes'].astype('str')

In [31]:
df_gun_vi['location_description'] = df_gun_vi['location_description'].astype('str')

In [42]:
df_gun_vi['incident_id'] = df_gun_vi['incident_id'].astype('str')

In [34]:
# Renaming columns
df_gun_vi.rename(columns = {'n_killed' : 'number_killed'}, inplace = True)

In [35]:
df_gun_vi.rename(columns = {'n_injured' : 'number_injured'}, inplace = True)

In [36]:
df_gun_vi.rename(columns = {'n_guns_involved' : 'number_guns_involved'}, inplace = True)

In [44]:
#dropping unnecessary columns
df_guns = df_gun_vi.drop(columns = ['address', 'participant_name','incident_url', 'source_url','state_house_district','state_senate_district', 'incident_url_fields_missing'])

In [45]:
df_guns.describe()

,number_killed,number_injured,congressional_district,latitude,longitude,number_guns_involved
count,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000
mean,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442
std,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202
min,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000
25%,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000
50%,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000
75%,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000
max,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000

In [46]:
df_guns.shape

(239677, 22)

Exporting and Saving Dataframe

<div id = "save"></div>

In [47]:
df_guns.to_csv(os.path.join(path, '02 Data','Prepared Data', 'guns_cleaned.csv'))